
//fuente principal
$fuenteHeading: 'Secular One', sans-serif;
$fuenteSecundaria: 'Figtree', sans-serif;



//paleta de colores
$colorPrimario:#011165;
$colorBlanco: #FFFFFF;
$colorNegro: #000000;
$colorBoton: #f4694b;
$colorHover: #000360;
$colorBorder: #46b450;
$colorHeading: #020462;
$colorParrafo: #424488;
$colorFooter: #F2F8FF;
$degradado: rgb(255, 221, 251);


//media query
$telefono: 480px;
$tablet: 768px;
$desktop: 1280px;


